<div>
    <H1>Sign Up</H1>
    <form>
        <table cellspacing="0">
            <tr>
                <td>
                    <p>
                        <label>Name</label>
                        <br />
                        <input input="name" [(ngModel)]="name" name="name" required>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>

                        <label>Username</label>
                        <br />
                        <input input="handle" [(ngModel)]="handle" name="handle" required>
                    </p>
                </td>
            </tr>
        </table>
    </form>
    <button (click)="signup()" color="primary">Sign up</button>
</div>