<!--<p>crud works!</p>-->
<!--<ul>-->
<!--  <li *ngFor=" let user of users;">-->
<!--    <a href="/handle/{{user.handle}}">{{user.handle}}</a>-->
<!--  </li>-->
<!--</ul>-->

<div>
  <H1>Login</H1>
  <form>
    <table cellspacing="0">
      <tr>
        <td>
          <p>
            <label>Username</label>
            <br />
            <input input="Username" [(ngModel)]="username" name="username" required>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <label>Password (It is "admin")</label>
            <br />
            <input input="Password" [(ngModel)]="password" type="password" name="password" required>
          </p>
        </td>
      </tr>
    </table>
  </form>
  <button (click)="login()" color="primary">Login</button>
  <input type="button" value="Sign up">
</div>